<ion-tab-bar slot="bottom">
  <ion-tab-button [routerLink]="['/pages/home']">
    <ion-icon name="home-outline"></ion-icon>
    Inicio
  </ion-tab-button>
  <ion-tab-button [routerLink]="['/receta/categories']">
    <ion-icon name="albums-outline"></ion-icon>
    Categorias
  </ion-tab-button>

  <ion-tab-button [routerLink]="['/receta/search']">
    <ion-icon name="search"></ion-icon>
    Buscar
  </ion-tab-button>

  <ion-tab-button [routerLink]="['/private/profile']">
    <ion-icon name="person"></ion-icon>
    Mi perfil
  </ion-tab-button>
</ion-tab-bar>
<!-- </ion-tabs> -->
